#!/usr/bin/python3
"""
WSGI application entry point for Note-Taking App
"""

import sys
import os

# Add the application directory to Python path
sys.path.insert(0, '{{ app_dir }}/app')

# Import the Flask application
from app import app as application

if __name__ == "__main__":
    application.run() 